# Python list
* Numbers in python
* Operators 
* Lists
* Tuples
* Sets
* Dictionaries
* Common errors

### Numbers in python

In [4]:
a=2 #integer 
b=4 #integer 
print(a+b) #addition operation of int

6

In [5]:
a=2 #integer 
b=4 #integer 
print(a-b) #subtraction  operation of int

-2

In [6]:
a=2 #integer 
b=4 #integer 
print(a*b) #multiplication  operation of int

8

In [7]:
a=2 #integer 
b=4 #integer 
print(a/b)#division  operation of int

0.5

# Operators
* Arithmetic
* Comparison
* Logical
* Assignment

In [8]:
# Additional
x=31
y=43
print(x+y)

74

In [9]:
# Subtraction
x=45
y=13
print(x-y)

32

In [10]:
#Multiplication 
x=21
y=2
print(x*y)

42

In [11]:
# Division
x=45
y=5
print(x/y)

9.0

In [12]:
# Modulus
x=5
y=2
print(x%y)

1

# Comparison

In [13]:
# equal to
x=5
y=4
print(x==y)

False

In [14]:
# Not equal to
x=15
y=7
print(x!=y)

True

In [15]:
# Greater than
x=7
y=3
print(x>y)

True

In [16]:
# Less than
x=12
y=3
print(x<y)

False

In [17]:
# Greater than equal to
x=5
y=3
print(x>=y)

True

In [18]:
# Less than equal to
x=5
y=3
print(x<=y)

False

# Logical

In [19]:
# AND
a=5
print(a<3 and a>10)

False

In [20]:
# OR
b=5
print(b<3 or b>4)

True

In [21]:
# NOT 
a=5
print(not(a>3 and a<10 ))

False

# Assignment

In [22]:
# equal
x=2
print(x)

2

In [23]:
#
x=43
x+=3
print(x)

46

In [24]:
#
x=21
x-=3
print(x)

18

In [25]:
#
x=31
x*=2
print(x)

62

In [26]:
#
x=45
x/=5
print(x)

9.0

# List
* Accessing
* Modifying
* Adding
* Removing

In [27]:
#accessing the list
thislist=["apple","cherry","watermelon"]
print(thislist[1])

cherry

In [28]:
#change in the list
list=["apple","cherry","watermelon","mango","kiwi"]
list[1:3]=["blackcurrant","banana"]
print(list)

['apple', 'blackcurrant', 'banana', 'mango', 'kiwi']

In [29]:
#adding in the list
list=["apple", "banana", "cherry"]
list.insert(1,"orange")
print(list)

['apple', 'orange', 'banana', 'cherry']

In [30]:
#removing in the list
list=["apple", "banana", "cherry"]
list.remove("banana")
print(list)

['apple', 'cherry']

In [31]:
#pop
list=["apple", "banana", "cherry"]
list.pop()
print(list)

['apple', 'banana']

In [32]:
#sort
list=["orange", "mango", "kiwi", "pineapple", "banana"]
list.sort()
print(list)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

# Tuples

In [33]:
fruits=("apple","banana","mango")
print(fruits)

('apple', 'banana', 'mango')

In [34]:
#access
num= (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(num[:4])
print(num.index(3))

(1, 2, 3, 4)
2

In [35]:
#adding
in_sports=("chees","cards","ludo")
out_sports=("cricket","football","hockey")
print(in_sports + out_sports)

('chees', 'cards', 'ludo', 'cricket', 'football', 'hockey')

In [36]:
#repetition
num_tuple = (10, 20, 30) * 5
print(num_tuple)

(10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30)

In [37]:
# accessing index of 
num= (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(num[:4])
print(num.index(3))

(1, 2, 3, 4)
2

# Sets

In [38]:
sets={"apple", "banana", "cherry"}
print(sets)

{'cherry', 'apple', 'banana'}

In [39]:
#add
sets={"apple", "banana", "cherry"}
sets.add("mango")
print(sets)

{'cherry', 'mango', 'apple', 'banana'}

In [40]:
#remove
sets={"apple", "banana", "cherry"}
sets.remove("apple")
print(sets)

{'cherry', 'banana'}

In [41]:
#union
sets1=(1,4,2,6,9,7)
sets2=sets.union(sets1)
print(sets2)

{1, 2, 4, 6, 7, 9, 'cherry', 'banana'}

In [42]:
#intersection
sets3=sets2.intersection(sets1)
print(sets3)

{1, 2, 4, 6, 7, 9}

In [43]:
#difference
sets4=sets2.difference(sets1)
print(sets4)

{'cherry', 'banana'}

# Dictionaries

In [44]:
#keys
my_dict = {'name': 'ABC','age': 20,'city': 'Pune'}
x=my_dict.keys()
print(x)

dict_keys(['name', 'age', 'city'])

In [45]:
#values
y=my_dict.values()
print(y)

dict_values(['ABC', 20, 'Pune'])

In [48]:
#pop
z=my_dict.items()
print(z)

dict_items([('name', 'ABC'), ('age', 20), ('city', 'Pune')])

In [49]:
#update
my_dict.update({'bike':'hero'})
print(my_dict)

{'name': 'ABC', 'age': 20, 'city': 'Pune', 'bike': 'hero'}

# Common Error

In [50]:
 # identation error 
if x > 5:
print("x is greater than 5")

IndentationError: expected an indented block after 'if' statement on line 2 (4249277557.py, line 3)

In [51]:
# name error 
my_variable = 10
print(my_varible)

NameError: name 'my_varible' is not defined

In [52]:
# value error 
my_list = [1, 2, 3]
   my_list[5]

IndentationError: unexpected indent (541362217.py, line 3)

In [53]:
#  type errror 
print("1" + 2  )

TypeError: can only concatenate str (not "int") to str

In [54]:
 # index error 
my_list = [1, 2, 3]  
print(my_list[3])

IndexError: list index out of range

In [55]:
#keyerror 
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['city'])

KeyError: 'city'